* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
}

html, body {
  height: 100%;
}

body {
  background-color: #e0e8ff;
  background-image: url(../images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body div#order-sumary-component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 30px 45px #c2c2ff;
          box-shadow: 0px 30px 45px #c2c2ff;
  height: 480px;
  max-width: 300px;
  background-color: #f5f7ff;
  border-radius: 15px;
  overflow: hidden;
}

body div#order-sumary-component > img {
  width: 100%;
  margin-bottom: 30px;
}

body div#order-sumary-component h2 {
  margin-bottom: 13px;
  font-size: 20px;
  font-weight: 900;
  color: #1f2f56;
}

body div#order-sumary-component p {
  width: 75%;
  line-height: 18px;
  font-size: 11.5px;
  text-align: center;
  color: #7280a7;
  margin-bottom: 15px;
}

body div#order-sumary-component > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eff0ff;
  width: 240px;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px 15px;
}

body div#order-sumary-component > div img {
  width: 33px;
  font-size: 12px;
  margin-right: 15px;
  font-weight: 800;
}

body div#order-sumary-component > div > div {
  width: 75px;
  padding: 2px;
  margin-right: 50px;
}

body div#order-sumary-component > div > div span:nth-of-type(1) {
  font-size: 12px;
  font-weight: 900;
  color: #1f2f56;
}

body div#order-sumary-component > div > div span:nth-of-type(2) {
  font-size: 12px;
  color: #7280a7;
}

body div#order-sumary-component > div a {
  font-size: 10px;
  font-weight: 900;
  color: #3829e0;
}

body div#order-sumary-component > div a:hover {
  color: #766CF1;
  text-decoration: none;
}

body div#order-sumary-component button {
  width: 240px;
  border-radius: 7px;
  font-size: 11px;
  font-weight: 600;
  padding: 10px;
  color: #f5f7ff;
  background-color: #3829e0;
  border: none;
  -webkit-box-shadow: 1px 10px 10px #d2d8f5;
          box-shadow: 1px 10px 10px #d2d8f5;
}

body div#order-sumary-component button:hover {
  background-color: #766CF1;
  cursor: pointer;
}

body div#order-sumary-component span {
  margin-top: 20px;
  font-size: 11px;
  font-weight: 600;
  color: #1f2f56;
}

body div#order-sumary-component span:hover {
  color: #000000;
  cursor: pointer;
  font-weight: 1000;
}
/*# sourceMappingURL=main.css.map */